@use './variables' as v;

// Media Query Mixin
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: v.$breakpoint-mobile) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-tablet) {
      @content;
    }
  } @else if $breakpoint == desktop-up {
    @media (min-width: v.$breakpoint-desktop) {
      @content;
    }
  } @else {
    @media ($breakpoint) {
      @content;
    }
  }
}
