@use '../../../../styles/abstracts/variables' as v;
@use '../../../../styles/abstracts/mixins' as m;
@use 'sass:color';

:host {
  display: block;
  margin-bottom: 1.8rem;
  will-change: transform, opacity;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;

  @include m.respond-to(mobile) {
    font-size: 1.2rem;
  }
}

.skill-name {
  font-weight: 400;
  font-size: 1.65rem;
  color: v.$color-logo;

  @include m.respond-to(mobile) {
    font-size: 1.35rem;
  }
}

.skill-level-text {
  color: v.$color-logo;
  font-weight: 500;
  font-size: 1.55rem;

  @include m.respond-to(mobile) {
    font-size: 1.35rem;
  }
}

.progress-bar-container {
  width: 100%;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #835315;
  border-radius: 4px;
  transition: width 1.2s ease-out;
}
