@use '../../../../styles/abstracts/variables' as v;
@use '../../../../styles/abstracts/mixins' as m;

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3.5rem;
  flex-direction: row;
}

.nav-link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  color: v.$color-logo;
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
  will-change: transform;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: v.$accent;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center;
  }

  &:hover {
    color: v.$color-secondary2;
  }

  &.active {
    color: v.$accent;
  }

  &:hover::after,
  &.active::after {
    transform: scaleX(1);
  }
}

:host-context(.mobile-context) {
  @include m.respond-to(mobile) {
    .nav-list {
      flex-direction: column;
      gap: 3.5rem;
      display: flex;

      @media screen and (orientation: landscape) and (max-height: 500px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem 2rem;
      }
    }

    .nav-link {
      width: 100%;
      font-size: 2.2rem;
      padding: 0.8rem 0;

      &::after {
        transform-origin: left;
        height: 3px;
      }

      @media screen and (orientation: landscape) and (max-height: 500px) {
        font-size: 1.6rem;
        padding: 0.4rem 0;
      }
    }
  }
}
