@use '../../../../styles/abstracts/variables' as v;
@use 'sass:color';

.language-switcher {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-shrink: 0;

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 0.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: v.$color-logo;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;

    &.active {
      color: v.$color-background;
      background-color: v.$accent;
      font-weight: 700;
    }

    &:hover:not(.active) {
      background-color: color.adjust(v.$accent, $alpha: -0.8);
    }
  }
}
